* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.8);
  color: #c0caf5;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #565f89;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  color: #7aa2f7;
  border-bottom: 3px solid #7aa2f7;
}

#workspaces button.urgent {
  background-color: #f7768e;
  color: #ffffff;
}

#clock {
  color: #73daca;
  background-color: rgba(41, 46, 66, 0.9);
  padding: 0 15px;
  border-radius: 8px;
  margin: 4px;
}
