* {
  font-family: "CaskaydiaMono NF", sans-serif;
  font-size: 13px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.9);
  color: #c0caf5;
}

#workspaces button {
  padding: 0 10px;
  color: #565f89;
}

#workspaces button.active {
  color: #7aa2f7;
  border-bottom: 2px solid #7aa2f7;
}

#cpu,
#pulseaudio,
#bluetooth,
#battery,
#clock {
  padding: 0 20px;
  background-color: transparent;
}

#group-power-menu {
  padding-left: 10px;
  padding-right: 15px;
  background-color: transparent;
}

#custom-power {
  color: #f7768e;
  padding: 0 10px;
}

#custom-lock,
#custom-reboot,
#custom-exit {
  color: #7aa2f7;
  padding: 0 12px;
}

#battery.critical {
  color: #f7768e;
}
