window {
  margin: 0px;
  border: 2px solid #7aa2f7;
  background-color: #1a1b26;
  border-radius: 0px;
}

#input {
  margin: 10px;
  border: 1px solid #3b4261;
  border-radius: 0px;
  background-color: #24283b;
  color: #c0caf5;
}

#entry {
  border-radius: 0px;
}

#entry:selected {
  background-color: #3b4261;
}
